/* Embed Custom PDF Fonts to prevent PDF.js warnings */
@font-face {
  font-family: 'GoudyOldStyleBT-Roman';
  src: url('../assets/fonts/GoudyOldStyleBT-Roman.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AbadiMT-CondensedLight';
  src: url('../assets/fonts/abadi-mt-condensed-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
